body.body-butter {
  background-color: $gray-background;
  &.body-butter-form,
  &.body-butter-detail {
    background-color: white;
  }

  .form-group--demo {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 10px;
    }
  }
  .username {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: -0.5px;
    color: $text-color-yellow;
  }

  .top-row {
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 2px solid $text-color-darker;
    .top-right {
      width: auto;
      float: right;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: -8px;
      margin-bottom: 5px;
    }
    .top-row__title {
      font-size: 32px;
      // @media (max-width: $screen-xs-max) {
      //   font-size: 14px;
      //   line-height: 30px;
      // }
    }
    @media (max-width: $screen-xs-max) {
      .top-left {
        width: auto;
        float: left;
        margin: 0;
      }
      .top-right {
        width: auto;
        float: right;
      }
    }
    .butter-btn-edit {
      width: 200px;
      height: 50px;
      border-radius: 2px;
      background-color: #ffcf4d;
      font-size: 18px;
      padding: 12px;
      margin-top: 14px;
      font-weight: 600;
      line-height: 1.44;
      letter-spacing: normal;
      color: #0d0d0d;
      @media (max-width: $screen-sm-max) {
        margin: 0;
      }
    }
  }

  .butter-tag-list {
    .butter-tag {
      line-height: 12px;
      font-weight: normal;
      font-size: 12px;
      color: $text-color-yellow;
      margin-left: 5px;
    }
    .butter-tag:first-child {
      margin-left: 0;
    }
  }
  .butter-title {
    word-break: keep-all;
    color: $text-color-darker;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
  }
  .butter-info {
    span {
      margin-left: 5px;
      color: #37383a;
    }
    .butter-date {
      margin-left: 0;
      font-weight: 500;
    }
  }

  i.circle {
    margin-left: 2.5%;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
    border-radius: 12px;
    background-color: #e0e0e0;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.57px;
    color: #363636;
  }

  .demo-submit-btn--submit {
    width: 200px;
  }

  .butter-container {
    padding-top: 38px;
    padding-bottom: 38px;
    overflow: hidden;
    .butter-label {
      float: left;
      width: 20%;
      padding-right: 4.4%;
      // display: flex;
      align-items: center;
      @media (max-width: $screen-xs-max) {
        width: 100%;
        padding-bottom: 20px;
      }
      span {
        word-break: keep-all;
        line-height: 29px;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -1px;
        color: $text-color-darker;
      }
    }
    .butter-list {
      width: 80%;
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
      float: left;
      .butter-list-each:hover {
        background-color: #fafafa;
      }
      .butter-list-each {
        display: flex;
        @media (max-width: $screen-xs-max) {
          flex-direction: column;
          align-items: flex-start;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
          > div.butter-each-1 {
            flex: 1;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            > div.butter-slug {
              padding: 0;
              margin-right: 10px;
            }
          }
          > div.butter-each-2 {
            flex: 1;
            padding: 0;
          }
          > div.butter-each-3 {
            flex: 1;
            padding-top: 10px;
            > div {
              padding: 0;
            }
          }
        }
        flex-direction: row;
        min-height: 126px;
        border: solid 1px $gray-lighter;
        background-color: white;
        & + .butter-list-each {
          border-top: none;
        }
        .butter-each-1 {
          flex: 123;
          .butter-new {
            float: left;
            width: 35px;
            height: 20px;
            background-color: $brand-primary-darker;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            color: white;
          }
          .butter-slug {
            padding-right: 4.4%;
            padding-top: 33.3%;
            font-weight: 600;
            text-align: center;
            color: $text-color-yellow;
            font-size: 18px;
          }
        }
        .butter-each-2 {
          flex: 709;
          padding: 20px 0;
        }
        .butter-each-3 {
          flex: 167;
          display: flex;
          align-items: center;
          > div {
            padding-left: 20%;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .butter-maker-list {
    flex: 0 0 48px;
    height: 24px;
    width: 48px;
    display: flex;
    // margin-left: 20%;
    // margin-right: 20%;
    align-items: center;
    .butter-maker {
      border-radius: 12px;
      width: 24px;
      height: 24px;
      display: block;
      border-radius: 12px;
      background-size: contain;
      position: absolute;
      span {
        display: none;
      }
    }
    .butter-maker:nth-child(1) {
      z-index: 3;
    }
    .butter-maker:nth-child(2) {
      transform: translate(12px);
      z-index: 2;
    }
    .butter-maker:nth-child(3) {
      transform: translate(24px);
      z-index: 1;
    }
  }
  .butter-extra-maker {
    line-height: 22px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.5px;
    color: #cb9000;
    flex: 1;
  }
}

body.body-butter,
body.body-butter-new {
  .editor-toolbar .custom-side-by-side {
    // @media (max-width: $screen-xs-max) {
    //   float: none;
    // }
    float: right;
    width: 125px;
    height: 29px;
    border-radius: 2px;
    background-color: #89919a;
    line-height: 29px;
    &::after {
      content: "전체화면에서 작성";
      font-size: 14px;
      font-weight: 500;
      color: white;
    }
  }
  .fullscreen .custom-side-by-side::after {
    content: "돌아가기";
  }

  .butter-warning {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: -0.88px;
    color: #e82216 !important;
  }

  .butter-btn-group {
    display: flex;
    justify-content: space-between;
    > div {
      flex: 1;
      justify-content: flex-end;
      display: flex;
    }
  }
}
