body.body-butter-new {
  .demo-form {
    span.required {
      height: 36px;
      font-size: 30px;
      letter-spacing: -1.07px;
      color: #e02020;
      vertical-align: -webkit-baseline-middle;
    }

    .form-group-butter {
      display: flex;
      flex-wrap: wrap;
      .demo-form-label {
        &.two-lines {
          line-height: 18px;
          height: 50px;
        }
        width: 100px;
        font-size: 16px;
        font-weight: bold;
        line-height: 50px;
        letter-spacing: -1px;
        color: #595959;
        span {
          font-weight: normal;
        }
      }
      > div {
        flex: 1;
        &:first-child {
          span {
            color: #e02020;
          }
        }
        > span {
          font-size: 14px;
          line-height: 1.86;
          letter-spacing: -0.88px;
          color: #595959;
        }
        .select-container {
          min-height: 50px;
          flex: 1;
          ul.select2-selection__rendered {
            line-height: 38px;
          }
        }
      }
    }
    .butter-cancel {
      width: 100px;
      height: 56px;
      border-radius: 3px;
      background-color: #fafafa;
      margin-left: 20px;
      float: right;
      &::after {
        content: "취소";
        vertical-align: sub;
      }
    }
    .butter-publish {
      width: 200px;
      height: 56px;
      border-radius: 3px;
      background-color: #ffcf4d;
      float: right;
    }
  }
  .butter-excerpt {
    display: flex;
    flex-direction: row;
    input {
      margin: 0;
      flex: 1;
      height: 50px;
      border: solid 1px #c2c2c2;
      padding: 6px 12px;
    }
    input:first-child {
      margin-left: 0;
      margin-right: 34px;
      background-color: #eee;
    }
    input:nth-child(2) {
      margin-left: 34px;
      margin-right: 0;
    }
  }
  .container {
    .butter-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -1px;
      color: #252525;
      margin-top: 50px;
      margin-bottom: 24px;
    }
    .butter-content {
      font-size: 16px;
      line-height: 1.38;
      letter-spacing: -0.57px;
      color: #111111;
      margin-bottom: 4px;
      overflow: hidden;
    }
    .butter-excerpt-label {
      font-size: 16px;
      line-height: 1.38;
      letter-spacing: -0.57px;
      color: #111111;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .butter-conflict {
    min-height: 80px;
    border-radius: 2px;
    border: solid 1px #d8d8d8;
    // background-color: #f5f5f5;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    justify-content: center;
  }
}
