/* CARD START */

.demo-card-wrapper {
  margin-bottom: 30px;
  .demo-card {
    background-color: white;
    border-radius: 8px;
    .demo-card__link {
      padding: 25px;
      display: block;
      border-radius: 8px;
      border: 1px solid $gray-lighter;
    }

    @media (max-width: 767px) {
      .demo-card__link {
          padding: 15px;
      }
    }

    .demo-card__link:hover, .demo-card__link:focus {
      text-decoration: none;
      display: block;
      box-shadow: 0 1px 5px 0 #0000002e, 0 3px 4px 0 #0000001e, 0 2px 4px 0 #00000023;
    }

    .demo-card__author {
      position: relative;
      padding-left: 50px;
      @media(max-width: $screen-xs-max) {
        padding-left: 37px;
      }
      .title-author__name {
        margin-top: 0;
        line-height: 42px;
        color: $gray-light;
        @media(max-width: $screen-xs-max) {
          font-size: 12px;
          line-height: 32px;
        }
      }
    }

    .demo-card__date {
      .title-author__date {
        line-height: 42px;
        color: $gray-light;
        @media(max-width: $screen-xs-max) {
          font-size: 12px;
          line-height: 32px;
        }
      }
    }

    .demo-card__contents {
      min-height: 194px;
      @media(max-width: $screen-xs-max) {
        min-height: auto;
      }
    }

    .demo-card__category {
      font-size: 18px;
      color: $text-color-yellow;
      font-weight: 600;
      line-height: 1.5em;
      height: 1.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin-top: 20px;
      @media(max-width: $screen-xs-max) {
        font-size: 16px;
        font-weight: normal;
        margin-top: 16px;
      }
    }

    .demo-card__title {
      font-size: 18px;
      color: $text-color;
      font-weight: 600;
      line-height: 1.5em;
      max-height: 4.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 12px;
      @media(max-width: $screen-xs-max) {
        font-size: 16px;
        font-weight: normal;
        margin-top: 8px;
      }
    }

    .demo-card__desc {
      font-size: 16px;
      color: $text-color-lighter;
      font-weight: normal;
      line-height: 1.5;
      max-height: 4.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 12px;
      margin-bottom: 0;
      @media(max-width: $screen-xs-max) {
        font-size: 12px;
        margin-top: 8px;
      }
    }

    .demo-card__tags {
      font-size: 14px;
      color: $text-color-lighter;
      font-weight: normal;
      line-height: 1.5em;
      height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      a {
        color: $text-color-lighter;
        white-space: nowrap;
      }
      @media(max-width: $screen-xs-max) {
        font-size: 12px;
        margin-top: 16px;
        height: auto;
        max-height: 3em;
        &.demo-card__tags-empty {
          display: none;
        }
      }
    }

    .demo-card__hr {
      margin: 20px 0;
      border-top: 1px solid $gray-lighter;
      @media(max-width: $screen-xs-max) {
        margin: 16px 0;
      }
    }

    .demo-card__info {
      margin-bottom: 4px;
    }

    .demo-card__info--discussion {
      margin-top: 36px;
    }

    @media (max-width: 767px) {
      .demo-card__info--discussion {
          margin-top: 10px;
      }
    }

    .demo-card__info__p {
      display: inline-block;
      font-size: 14px;
      margin-bottom: 0;
      color: #727a7f;
      margin-right: 15px;
    }

    @media (max-width: 767px) {
      .demo-card__info__p--m-block {
          display: block;
          margin-top: 5px;
      }
    }

    .l-img-card-wrapper {
      padding-bottom: 20px;
      margin-bottom: 40px;
      border-bottom: 1px solid #b6c1cc;
    }

    .l-img-card {
      position: relative;
      padding-left: 30%;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid #b6c1cc;
      margin-bottom: 30px;
    }

    .l-img-card__link:hover, .l-img-card__link:focus {
      text-decoration: none;
      display: block;
      background-color: #eff3f6;
    }

    .l-img-card__img {
      width: 30%;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
    }

    @media (max-width: 767px) {
      .l-img-card {
          padding-left: 0;
          margin-bottom: 15px;
      }

      .l-img-card__img {
          width: 100%;
          position: relative;
      }
    }

    @media (min-width: 376px) and (max-width: 767px) {
      .l-img-card__img {
          height: 280px;
      }
    }

    @media (max-width: 320px) {
      .l-img-card__img {
          height: 200px;
      }
    }

    @media (min-width: 321px) and (max-width: 375px) {
      .l-img-card__img {
          height: 250px;
      }
    }

    .l-img-card__contents {
      padding: 20px 30px;
    }

    .l-img-card__status {
      color: #1e60b1;
      font-size: 14px;
    }

    @media (max-width: 767px) {
      .l-img-card__contents {
          padding: 10px 10px;
      }
    }
  }
}


/* CARD END */