
/* footer START */
.demo-footer {
  margin-top: 80px;
  background-color: white;
  padding: 30px 0;
  border-top: 1px solid $gray-lighter-e0;
}

@media (max-width: 767px) {
  .demo-footer {
      margin-top: 30px;
      padding: 20px 0;
  }
}

.demo-footer .demo-address {
  font-size: 16px;
  color: #e4eaef;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .demo-footer .demo-address {
      margin-top: 20px;
  }
}

.footer-copyright {
  color: #727a7f;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .footer-copyright {
      margin-top: 10px;
  }
}

.footer-name {
  font-size: 16px;
  color: #e4eaef;
}

@media(max-width: $screen-xs-max) {
  .term-links {
    display: flex;
    justify-content: space-around;
  }
}

.term-link {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

p.term-link-p {
  margin: 0;
  @media(max-width: $screen-xs-max) {
    display: inline-block;
  }
}

.term-link:hover, .term-link:focus {
  color: $text-color-yellow;
}

.term-link-logos {
  @media(max-width: $screen-xs-max) {
    text-align: center;
    margin-top: 40px;
  }
  .term-link-logo {
    margin-right: 40px;
    @media(max-width: $screen-xs-max) {
      display: block;
      margin-bottom: 20px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

/* footer END */