body.body-home {
  .section-main-key-visual {
    margin-top: -40px;
    background-color: $brand-background;
    .key-title {
      font-size: 48px;
      color: white;
      margin-top: 150px;
      margin-bottom: 27px;
      @media(max-width: $screen-xs-max) {
        font-size: 24px;
      }
    }
    .key-subtitle {
      font-size: 18px;
      color: $gray-lighter;
      margin-bottom: 40px;
      @media(max-width: $screen-xs-max) {
        font-size: 12px;
      }
    }
    .key-btn {
      font-size: 18px;
      padding: 18px 60px;
      font-weight: 600;
      margin-bottom: 150px;
      @media(max-width: $screen-xs-max) {
        display: block;
        font-size: 14px;
        padding: 14px 0;
      }
    }
  }
  .section-banner {
    box-shadow: 0 1px 5px 0 #0000002e, 0 3px 4px 0 #0000001e, 0 2px 4px 0 #00000023;
    .key-banner {
      text-align: center;
      font-size: 24px;
      color: $text-color;
      margin: 56px 0;
      display: flex;
      align-items: center;
      .key-banner-btn {
        font-size: 16px;
        font-weight: normal;
        margin-left: 20px;
        background-color: transparent;
        border: 1px solid $brand-primary-dark;
        color: $text-color-yellow;
        &:hover, &:focus {
          border: 1px solid $brand-primary-darker;
          color: $text-color-yellow-dark;
        }
      }
    }
    @media(max-width: $screen-xs-max) {
      .key-banner {
        justify-content: space-between;
        margin: 16px 0;
        .key-banner-text {
          font-size: 14px;
          text-align: left;
        }
        .key-banner-btn {
          font-size: 12px;
        }
      }
    }
  }
  .section-proposals {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 4px;
    margin-bottom: -80px;
    background-color: $gray-background;
    @media(max-width: $screen-xs-max) {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: -30px;
    }
    .main-card-wrapper-title {
      font-size: 34px;
      font-weight: 600;
      color: $text-color-darker;
      margin-bottom: 12px;
      @media(max-width: $screen-xs-max) {
        font-size: 18px;
      }
    }
    .main-card-wrapper-subtitle {
      font-size: 18px;
      font-weight: 600;
      color: $text-color-light;
      margin-bottom: 40px;
      @media(max-width: $screen-xs-max) {
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 30px;
      }
    }
  }
}
