/* nav START */
.nav-login-bar {
  background-color: $brand-background;
}

@media (max-width: 767px) {
  .nav-login-bar {
    display: none;
  }
}

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: $brand-primary-darker;
  background-color: transparent;
}

.navbar-default.navbar-default--demo {
  background-color: #fff;
  width: 100%;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 0;
}

.navbar-default ul.demo-nav > li > a {
  font-weight: 700;
  padding: 26px 30px 26px;
  font-size: 18px;
  color: $text-color-darker;
  text-align: center;
  line-height: 26px;
}
.navbar-default ul.demo-nav > li:last-child > a {
  padding-right: 5px;
}

.navbar-default .demo-nav .dropdown.open .dropdown-toggle {
  color: $brand-primary-darker;
}

.navbar-default .demo-nav .dropdown:hover .dropdown-toggle {
  color: $brand-primary-darker;
}

.navbar-default .demo-nav .dropdown-menu {
  width: 100%;
  min-width: 10px;
}

.navbar-default .demo-nav .demo-nav-li:hover a {
  color: $brand-primary-darker;
}

.navbar-default .demo-nav .dropdown-menu a {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #43484c;
  background-color: transparent;
}

.navbar-default .demo-nav .dropdown-menu li:hover a {
  color: $brand-primary-darker;
}

.navbar-default .demo-nav .active:hover a,
.navbar-default .demo-nav .active:visited a {
  background-color: transparent;
}

.navbar-default .demo-nav .dropdown.open .dropdown-toggle {
  background-color: #fff;
}

.navbar-default .demo-nav .active a {
  color: $brand-primary-darker;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-width: 0;
  padding: 0;
  margin: 16px;
  i.demo-toggle {
    font-size: 24px;
    color: $text-color-dark;
  }
}

.demo-collapse .dropdown-menu i {
  display: none;
}

.nav-login-ul {
  margin-bottom: 0;
}

.li-middle {
  padding-top: 35px;
}

.li-middle-line {
  color: #c7c9cc;
}

.li-middle .li-middle-line {
  font-size: 20px;
}

.nav-login-li__link {
  color: white;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  line-height: 32px;
}

.nav-login-li__link:hover,
.nav-login-li__link:focus {
  color: $brand-primary;
  text-decoration: none;
}

.navbar-brand.navbar-brand--demo {
  padding: 27px 15px 24px;
  height: auto;
  @media (max-width: $screen-sm-max) {
    padding: 24px 15px 16px;
  }

  > img {
    height: 27px;
    @media (max-width: $screen-sm-max) {
      height: 16px;
    }
  }
}

.nav-login-m {
  display: none;
}

/* nav END */

/* mobile menu */

.navbar-toggle--demo .demo-toggle--close {
  display: block;
}

.demo-toggle--open {
  display: none;
}

.collapsed .demo-toggle--close {
  display: none;
}

.collapsed .demo-toggle--open {
  display: block;
}

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 14px;
  }

  .navbar,
  .navbar-collapse {
    border-top: none;
  }

  .navbar-header--demo {
    z-index: 1002;
  }

  .navbar-default .container .demo-collapse {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    max-width: 100vw;
    height: 100%;
    height: 100vh;

    background-color: $gray-background-light;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    ul.demo-nav {
      margin-top: 56px;
      margin-bottom: 0;
      padding: 0;
      margin-right: -15px;
      margin-left: -15px;
      > li > a {
        font-weight: 700;
        padding: 26px 30px 26px;
        font-weight: 500;
        padding: 16px 30px 0;
        font-size: 18px;
        color: #212121;
        text-align: center;
        line-height: 26px;
        line-height: 22px;
        padding-left: 0;
        padding-right: 0;
      }
      > li:last-child > a {
        border-bottom: 1px solid $gray-lighter-e0;
        padding-bottom: 32px;
      }
      > li:first-child > a {
        border-top: 1px solid $gray-lighter-e0;
        padding-top: 32px;
      }
    }

    .dropdown-menu {
      display: block;
      position: relative;
      float: inherit;
      i {
        display: inline-block;
      }
    }
  }

  .navbar-toggle--demo {
    position: absolute;
    z-index: 1002;
    right: 0;
    border: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px;
  }

  .navbar-toggle--demo.collapsed {
    color: #43484c;
  }

  .navbar-default .navbar-toggle--demo:hover,
  .navbar-default .navbar-toggle--demo:visited,
  .navbar-default .navbar-toggle--demo:focus {
    background-color: transparent;
  }

  .demo-nav {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav > li.li-middle {
    display: none;
  }

  .navbar-default .navbar-nav > li {
    padding: 0;
    text-align: left;
  }

  .navbar-default .navbar-nav > li.active > a,
  .navbar-default .navbar-nav > li.active > a:hover {
    color: #fff;
  }

  .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-weight: 400;
  }

  .navbar-default .demo-nav .dropdown:hover .dropdown-toggle {
    color: #fff;
  }

  .navbar-default .demo-nav .demo-nav-li:hover a,
  .navbar-default .demo-nav .demo-nav-li:focus a {
    color: #fff;
  }

  .navbar-default .demo-nav .demo-nav-li.active a {
    border-bottom: 2px solid #fff;
  }

  .navbar-default .demo-nav .dropdown-menu {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #fff;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .navbar-default .demo-nav .dropdown-menu a {
    text-align: left;
    padding-left: 30px;
    color: #fff;
    font-weight: 400;
  }

  .navbar-default .demo-nav .dropdown-menu li:hover a {
    color: #fff;
  }

  .nav-login-m {
    display: block;

    .nav-login-m-ul {
      list-style: none;
      padding-left: 0;
      margin-top: 22px;
      margin-bottom: 0;
    }

    .nav-login-m-li__link {
      color: $text-color-yellow;
      font-weight: 500;
      display: block;
      font-size: 18px;
      padding: 10px;
      text-align: center;
    }
  }
}

.profile-circle--nav {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

