/* terms START */
.section-title {
  padding-bottom: 34px;
  font-size: 26px;
  margin-top: 60px;
  color: #191919;
  font-weight: 700;
  border-bottom: 1px solid #727a7f;
}

.section-title--first {
  margin-top: 30px;
}

.section-title__small {
  color: #727a7f;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
}

.term-small-title {
  font-size: 20px;
  color: #191919;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 35px;
  margin-bottom: 14px;
}

@media (max-width: 767px) {
  .term-small-title {
      margin-left: 10px;
  }
}

.terms-wrapper .normal {
  color: #43484c;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 16px;

}

@media (max-width: 767px) {
  .terms-wrapper .normal {
      margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .circle-ul {
      padding-left: 30px;
  }
}

.circle-ul li {
  font-weight: 700;
}

.number-ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.number-ul li {
  color: #727a7f;
  line-height: 1.8;
  font-weight: 400;
}

.terms-wrapper .muted {
  color: #595959;
  font-size: 14px;
  line-height: 22px;
}

.terms-wrapper .muted a {
  color: #595959;
}

.terms-wrapper .help {
  color: #595959;
}

/* terms END */
