.login-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;

  p {
    color: #727a7f;
    font-size: 16px;
    margin-bottom: 30px;
  }

  a {
    &.login {
      width: 369px;
      @media (max-width: 767px) {
        width: 100%;
      }
      height: 56px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      margin-bottom: 20px;
      color: white;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      img {
        margin-bottom: 0;
        width: 36px;
        margin-right: 4px;
      }
    }
    &.login-email {
      background-color: #303133;
    }
    &.login-facebook {
      background-color: #1578f2;
    }
    &.login-naver {
      background-color: #00b650;
    }
    &.login-google {
      background-color: #e02020;
    }
    &.login-kakao {
      background-color: #ffcf4d;
      color: #111111;
    }
  }
  img {
    width: 100%;
    margin-bottom: 14px;
  }
}


/* sign up, in START */
.sign-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 399px;
  width: 100%;
  margin: 100px auto;
  @media (max-width: 767px) {
    margin: 10px 0 30px;
    max-width: 100%;
  }

  .demo-detail-title.demo-detail-title-sm.demo-detail-title-noborder {
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: $text-color-darker;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .form-login {
    margin-top: 40px;
  }
  .demo-form-label {
    color: $text-color-dark;
    font-size: 14px;
    font-weight: normal;
  }

  .terms-wrapper .muted {
    line-height: 28px;
  }
}

.sign-container--modal {
  margin: 40px auto;
}

.modal-dialog--demo {
  max-width: 460px;
  width: 100%;

}

@media (max-width: 767px) {
  .modal-dialog--demo {
      width: auto;
  }
}

/* sign up, in END */
